* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
  font-size: 100%;
}

nav h1 {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 2.986rem;
}

nav {
  display: flex;
  justify-content: left;
  padding: 20px;
  gap: 5rem;
  background-color: rgba(85, 0, 196, 0.61);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
}

#about {
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}

#about img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: contain;
  border: 5px solid white;
}
