* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: black;
	font-size: 115%;
	scroll-behavior: smooth;
}

@font-face {
	font-family: Corpta;
	src: url(../Corpta_DEMO.otf);
}

#title h1 {
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.986rem;
}

h2 {
	color: white;
	font-family: "Arial", sans-serif;
	margin-bottom: 1rem;
	font-size: 2.488rem;
}

h6 {
	color: white;
	font-family: "Arial", sans-serif;
	font-size: 1.2rem;
	margin-top: 20px;
}

#title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f9c784;
}

nav {
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 20px;
	gap: 2.5rem;
	background-color: #7a542e;
	width: 100%;
}

.logo a {
	font-family: corpta;
	text-decoration: none;
	font-size: 3rem;
	color: rgb(0, 0, 0);
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

nav ul a {
	text-decoration: none;
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}

.page {
	background-image: url("../images/878.jpg");
	background-color: rgba(139, 29, 21, 0.5);
	background-blend-mode: hue;
	display: flex;
	flex-direction: column;
}
#about {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 6rem 10rem 0rem 10rem;
	margin-bottom: 5rem;
}

.text {
	text-align: center;
}

#about img {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	object-fit: contain;
	border: 5px solid white;
	flex-shrink: 0;
}

#education {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}

.crls {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.crls img {
	margin-right: 1rem;
}

#experience {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.ypp img {
	border-radius: 25%;
	margin-right: 5rem;
}

.ypp {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	gap: 5rem;
}

#contact {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}
